:root {
  --bg: #010101;
  --bg2: #020202;

  --txt-color: #fff;
  --txt-secondary-color: #aaa;

  --item-bg: rgba(255, 255, 255, 0.01);
  --item-hover: rgba(255, 255, 255, 0.03);
  --item-secondary-color: rgba(255, 255, 255, 0.3);

  --primary: #0d0;

  --transition-time: 0.3s;

  --item-border-radius: 10px;
}
